body {
    background-color: white;
    text-decoration: none;
}

section.sobre-nos {
    background-image: url("/imagens/img1.png");
    background-position: right top;
}

.sobre-nos h1 {

    align-items: center;
    padding-top: 100px;
}

.sobre-nos ul {
    padding-top: 100px;
    text-align: left; 
  
}
.sobre-nos p{
    color: black;
}





.nossos-profissionais h1 {
    padding-top: 100px;
}

.nossos-profissionais .cards {
    padding-top: 100px;

}
.nossos-profissionais p {
    color: black;

}

.onde-encontrar h1 {
    padding-top: 100px;
}

section.rodape{
     padding-top: 100px;
}
