body {
    background-color: white;
    text-decoration: none;
}

section.sobre-nos {
    background-image: url("/imagens/img1.png");
    background-position: right top;
}

.sobre-nos h1 {

    align-items: center;
    padding-top: 50px;
}

.sobre-nos ul {
    padding-top: 100px;
    text-align: left; 
  
}
.sobre-nos p{
    color: black;
}





.nossos-profissionais h1 {
    padding-top: 100px;
}

.nossos-profissionais .cards {
    padding-top: 50px;

}
.nossos-profissionais p {
    color: black;

}

.onde-encontrar h1 {
    padding-top: 100px;
}

.rodape {
    margin-top: 100px;
    padding-top: 10px;
    background-color: black;
    max-height: 200px;
    width: auto;
    
}

.rodape h4,
p {
    color: white;
    text-decoration: none;
   
    
}

.logos a{
    align-items: right;
    text-align: right;
}
footer.rodape .container img{
    width:30px;
    height: 30px;
    margin: 10px;
    float: left;
	position: relative;

}


